
.circle-rectangle-card-container {
  background: #3E404C;
  padding: 32px;
  display: flex;
  transform: translateY(20%);
  opacity: 0;
  transition: transform, opacity;
  transition-duration: .3s, .3s;
  width: 100%;
  &.active-card {
    transform: translateY(0);
    opacity: 1;
    transition: transform, opacity;
    transition-delay: .7s, .7s;
    transition-duration: .7s, .7s;
    transform-origin: bottom;
  }
  &.animation-start-2 {
    transition-delay: 1.2s, 1.2s;
  }
  .circle-rectangle-content-container {
    width: 60%;
    p {
      &:first-of-type {
        padding-bottom: 16px;
      }
    }
  }
  .circle-rectangle-img-container {
    padding-left: 16px;
    width: 40%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .circle-rectangle-card-container {
    min-height: 272px;
  }
}

@media only screen and (max-width: 992px) {
  .circle-rectangle-card-container {
    flex-direction: column;
    margin-bottom: 40px;
    .circle-rectangle-content-container {
      width: 100%;
    }
    .circle-rectangle-img-container {
      width: 100%;
      padding: 24px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}