
.circle-rectangle-card-container {
  background: #3E404C;
  padding: 32px;
  display: flex;
  .circle-rectangle-content-container {
    p {
      &:first-of-type {
        padding-bottom: 16px;
      }
    }
  }
  .circle-rectangle-img-container {
    padding-left: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .circle-rectangle-card-container {
    flex-direction: column;
    margin-bottom: 40px;
    .circle-rectangle-img-container {
      padding: 24px 0 0 0;
    }
  }
}