.support-content-block-container {
  padding: 60px 0;
  border-bottom: 1px solid #ADADAD;
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
  h2 {
    padding-bottom: 24px;
  }
  .support-content-block-subtitle {
    padding: 24px 0 8px 0;
  }
}

@media screen and (max-width: 992px) {
  .support-content-block-container {
    padding: 40px 0;
    .content-text {
      padding-top: 24px;
    }
  }
}