.expand-card-container {
  background: #F1F7F4;
  border-radius: 10px;
  padding: 32px 0;
  margin-bottom: 0px;
  height: 100%;
  transition: all .7s;
  &.not-expanded-container {
    height: 88px;
    padding: 32px 0;
    transition: all 0.7s;
  }
  .toggle-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    transition-delay: .2s;
    p {
      padding-right: 8px;
      transition: all .5s;
      transition-delay: .2s;
    }
    .circle-icon {
      path {
        fill: $pink;
        transition: all .5s;
        transition-delay: .2s;
      }
    }
    &:hover {
      cursor: pointer;
      p {
        color: $purple;
        transition: all .5s;
        transition-delay: .2s;
      }
      .circle-icon {
        path {
          fill: $purple;
          transition: all .5s;
          transition-delay: .2s;
        }
      }
    }
  }
  .expand-card-content-container {
    margin: 0;
    height: auto;
    transform: scaleY(1);
    transition: transform .7s;
    transition-delay: .3s;
    transform-origin: top;
    &.not-expanded {
      height: 0;
      transform: scaleY(0);
      transition: transform .3s;
    }
    p {
      padding-bottom: 8px;
      &:first-of-type {
        padding-top: 16px;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
    }
    .expand-card-btn-container {
      padding-top: 16px;
      a {
        button {
          &:hover {
            .btn-content-container {
              p {
                color: $white;
                transition: all .7s;
                transition-delay: .1s;
              }
            }
          }
          .btn-content-container {
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              color: $pink;
              font-family: $mulish;
              width: 90%;
              text-align: center;
              transition: all .7s;
              transition-delay: .1s;
              padding-top: 0;
            }
            .btn-arrow-container {
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              svg {
                margin: 4px 4px 0 16px;
                .btn-arrow {
                  fill: $pink;
                  transition: all .7s;
                  transition-delay: .1s;
                  &.active-arrow {
                    fill: $white;
                    transition: all .7s;
                    transition-delay: .1s;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .expand-card-container {
    padding: 32px;
    &.not-expanded-container {
      height: 56px;
      padding: 16px 0;
    }
  }
}