.call-now-container {
  padding: 60px 0px;
  background: #F1F7F4;
  border-radius: 20px;
  bottom: 0;
  // margin: -200px 0 40px 0;
  h3 {
    padding-bottom: 16px;
  }
  .call-now-text-link {
    color: $pink;
    white-space: nowrap;
    transition: color .5s;
    transition-delay: .2s;
    &:hover {
      cursor: pointer;
      color: $purple;
      transition: color .5s;
      transition-delay: .2s;
    }
  }
  .call-now-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .call-now-btn-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .call-now-container {
    margin: -140px 0 40px 0;
  }
}

@media screen and (max-width: 992px) {
  .call-now-container {
    margin: -150px 0 0px 0;
    padding: 40px 0px;
    p {
      padding-right: 24px;
    }
    .call-now-text-link {
      white-space: normal;
    }
    .call-now-inner-container {
      padding-top: 24px;
    }
  }
}