.call-now-container {
  padding: 64px 19px;
  background: #F1F7F4;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
  .call-now-btn-container {
    margin: 0 15px;
  }
}

@media screen and (max-width: 991px) {
  .call-now-container {

  }
}