.support-container {
  // background-image: url('../assets/images/home-bg-img.webp');
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  .top-title {
    letter-spacing: 0.5em;
    font-weight: 400;
    padding-bottom: 8px;
    background: linear-gradient(90deg, rgba(175,212,196,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .support-header-card-callout {
    padding: 16px 40px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    margin-top: 32px;
    h1 {
      font-size: 60px;
      line-height: 70px;
      font-weight: 700;
      color: $white;
    }
  }
  .support-sub-title {
    padding: 24px 0 8px 0;
  }
}

.support-mid-container {
  padding: 60px 0;
  background: $white;
  h2 {
    padding-bottom: 40px;
  }
  .support-mid-container-lower-cards {
    padding: 16px 0;
    .support-mid-container-large-card {
      padding: 32px;
      height: 274px;
      background: #FFFFFF;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      .icon-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        p {
          &:first-of-type {
            padding: 8px 0;
          }
        }
      }
    }
  }
}

.support-lower-container {
  padding: 60px 0;
  background: $white;
  .support-lower-sub-title {
    padding: 16px 0 40px 0;
  }
  .support-lower-inner-container {
    margin-bottom: 40px;
  }
  .person-icon-row {
    padding: 16px 0 60px 0;
  }
  .lower-content-footnote {
    padding: 16px 0 0px 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .support-mid-container {
    .support-mid-container-lower-cards {
      .support-mid-container-large-card {
        height: 340px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .support-container {
    // background-image: url('../assets/images/home-bg-img-mobile.webp');
    // width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    .top-title {
      padding-bottom: 8px;
      font-size: 22px;
      line-height: 28px;
    }
    .support-header-card-callout {
      margin-top: 16px;
      padding: 16px;
      h1 {
        font-size: 24px;
        line-height: 30px;
      }

      
    }
    .support-sub-title {
      padding: 16px 0 8px 0;
    }
  }

  .support-mid-container {
    padding: 40px 0;
    h2 {
      padding-bottom: 24px;
    }
    .support-mid-container-lower-cards {
      padding: 0;
      .support-mid-container-large-card {
        margin-bottom: 16px;
        height: fit-content;
        padding: 32px 0;
        .icon-container {
          p {
            &:last-of-type {
              padding: 0px 0 8px 0;
            }
          }
        }
      }
    }
  }

  .support-lower-container {
    padding: 40px 0;
    .support-lower-sub-title {
      padding: 16px 0;
    }
    .support-lower-inner-container {
      margin-bottom: 24px;
    }
    .person-icon-row {
      padding: 24px 0;
    }
    .lower-content-footnote {
      padding: 16px 0 0px 0;
    }
  }
}