.support-container {
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  .support-header-card-callout {
    padding: 16px 40px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    margin-top: 32px;
    h1 {
      font-size: 32px;
      line-height: 45px;
      font-weight: 700;
      color: $white;
    }
  }
  .support-sub-title {
    padding: 32px 0 8px 0;
  }
}

.support-mid-container {
  padding: 16px 0 0px 0;
  .tab-arrow-container {
    transition: all .7s;
    transition-delay: .1s;
    position: relative;
    top: 200px;
    &.arrow-right-container {
      display: flex;
      justify-content: flex-end;
    }
    &:hover {
      cursor: pointer;
    }
    .purple-arrow {
      path {
        fill: $purple;
        transition: all .7s;
        transition-delay: .1s;
      }
    }
    .grey-arrow {
      path {
        fill: $inactive-grey;
        transition: all .7s;
        transition-delay: .1s;
      }
    }
    .pink-arrow {
      path {
        fill: $pink;
        transition: all .7s;
        transition-delay: .1s;
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .support-mid-container {
    .support-mid-container-lower-cards {
      .support-mid-container-large-card {
        height: 340px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .support-container {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    .support-header-card-callout {
      margin-top: 16px;
      padding: 16px;
      h1 {
        font-size: 24px;
        line-height: 30px;
      }
    }
    .support-sub-title {
      padding: 16px 0 8px 0;
    }
  }

  .support-mid-container {
    padding: 8px 0 0px 0;
    h2 {
      padding-bottom: 24px;
    }
    .support-mid-container-lower-cards {
      padding: 0;
      .support-mid-container-large-card {
        margin-bottom: 16px;
        height: fit-content;
        padding: 32px 0;
        .icon-container {
          p {
            &:last-of-type {
              padding: 0px 0 8px 0;
            }
          }
        }
      }
    }
  }
  .extra-top-padding {
    padding-top: 40px;
  }
}