.support-container {
  background-image: url('../assets/images/home-bg-img.webp');
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
  .top-title {
    letter-spacing: 0.5em;
    font-weight: 400;
    background: linear-gradient(90deg, rgba(175,212,196,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .support-header-card-callout {
    padding: 16px 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    margin-top: 32px;
    h1 {
      font-size: 60px;
      line-height: 70px;
      font-weight: 700;
      color: $white;
    }
  }
  .support-sub-title {
    padding: 24px 0 8px 0;
  }
}

.support-mid-container {
  padding: 60px 0;
  background: $white;
  h2 {
    padding-bottom: 40px;
  }
  .support-mid-container-lower-cards {
    padding: 16px 0;
    .support-mid-container-large-card {
      padding: 32px;
      height: 274px;
      background: #FFFFFF;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
      border-radius: 16px;
      .icon-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        p {
          &:first-of-type {
            padding: 8px 0;
          }
        }
      }
    }
  }
}

.support-lower-container {
  padding: 60px 0;
  background: $white;
  .support-lower-sub-title {
    padding: 16px 0 40px 0;
  }
  .support-lower-inner-container {
    margin-bottom: 40px;
  }
}