.dosing-container {
  padding: 60px 0 0 0;
  .dosing-icon-card-container {
    display: flex;
    padding: 60px 0 44px 0;
  }
  .footnote-container {
    padding: 16px 0 0px 0;
  }
}

@media screen and (max-width: 992px) {
  .dosing-container {
    padding: 40px 0 0 0;
    .dosing-icon-card-container {
      display: inline;
      padding: 40px 0 24px 0;
    }
  }
}