.reference-container {
  padding: 96px 0;
  .references {
    word-wrap: break-word;
    .reference-ordered-list {
      padding: 0 0 0 16px;
      li {
        padding: 0 0 4px 8px;
        font-size: 14px;
        line-height: 16px;
        font-family: $barlow;
        &:last-of-type {
          padding-bottom: 0px;
        }
      }
      li::marker {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .reference-container {
    padding: 0 0 40px 0;
  }
}