.how-it-works-container {
  padding: 60px 0 20px 0;
  .footnote-container {
    padding: 8px 0 60px 0;
  }
  .how-it-works-img-container {
    img {
      width: 100%;
    }
  }
  .lower-footnote-container {
    padding: 44px 0 0 0;
  }
}

@media screen and (max-width: 992px) {
  .how-it-works-container {
    padding: 40px 0 0 0;
    .footnote-container {
      padding: 16px 0 40px 0;
    }
    .lower-footnote-container {
      padding: 24px 0 0 0;
    }
  }
}
