.header-hero-container {
  background:
              radial-gradient(108% 110% at top left, rgba(255, 255, 255, 0.0) 90%, #602D91 130%) top right,
              radial-gradient(110% 110% at top left, rgba(255, 255, 255, 0.0) 90%, #602D91 400%) top right,
              radial-gradient(118% 112% at top right,rgba(255, 255, 255, 0.0) 90%, #302D83 140%) top left;
  backdrop-filter: blur(64px);
  -webkit-backdrop-filter: blur(64px);
  // background: radial-gradient(103% 110% at top left, rgba(0,0,0,0) 90%,rgba(244,243,248,1) 94%,rgba(237,234,243,1) 96%,rgba(216,209,228,1) 98%,rgba(194,183,213,1) 100%,rgba(162,146,191,1) 102%,rgba(150,129,182,1) 104%,rgba(146,122,180,1) 106%,rgba(138,112,173,1) 108%,rgba(133,112,171,1) 110%,rgba(91,54,138,1) 130%) top right,
  // radial-gradient(118% 112% at top right,rgba(255, 255, 255, 0.0) 90%, #302D83 140%) top left;
  background-size: 56% 100%;
  background-repeat: no-repeat;
  padding: 60px 0;
  .header-hero-content-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-top: 0px;
  }
}

@media screen and (max-width: 992px) {
  .header-hero-container {
    background:
    radial-gradient(120% 106% at top left, #FFFFFF 50%, #FFFFFF 90%, #5C068C 180%) top right,
    radial-gradient(118% 110% at top right, #FFFFFF 50%, #FFFFFF 90%, #302D83 180%) top left;
    background-size: 56% 100%;
    background-repeat: no-repeat;
    padding: 32px 0 0 0;
    .header-hero-content-container {
      padding-top: 0;
      h1 {
        padding: 0px 0 16px 0;
      }
    }
  }
}