.header-hero-container {
  background: radial-gradient(110% 110% at top left, rgba(255, 255, 255, 0.0) 90%, #5C068C 125%) top right,
              radial-gradient(118% 112% at top right,rgba(255, 255, 255, 0.0) 90%, #302D83 140%) top left;
  background-size: 56% 100%;
  background-repeat: no-repeat;
  padding: 80px 0 0 0;
  .header-hero-content-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding-top: 0px;
    h1 {
      padding: 0px 0 64px 0;
      background: -webkit-linear-gradient(0deg,#AE0ACF, #5C068C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      sup {
        background: -webkit-linear-gradient(45deg,#AE0ACF, #5C068C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .header-hero-img-container {
    .header-hero-img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .header-hero-container {
    background:
    radial-gradient(120% 106% at top left, #FFFFFF 50%, #FFFFFF 90%, #5C068C 180%) top right,
    radial-gradient(118% 110% at top right, #FFFFFF 50%, #FFFFFF 90%, #302D83 180%) top left;
    background-size: 56% 100%;
    background-repeat: no-repeat;
    padding: 32px 0 0 0;
    .header-hero-content-container {
      padding-top: 0;
      h1 {
        padding: 0px 0 16px 0;
      }
    }
    .header-hero-img-container {
      padding-top: 24px;
    }
  }
}

.sage {
  color :#E3EFE9;
}