.cookie-container {
  padding: 16px 0;
  .cookie-link {
    text-decoration: none;
    color: $purple;
    transition: font-weight .4s ease-in-out;
    font-weight: normal;
    &:hover {
      cursor: pointer;
      font-weight: bold;
      transition: font-weight .4s ease-in-out;
    }
  }
  .close-icon-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .header-close-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}