.cookie-container {
  padding: 16px 0;
  .cookie-link {
    text-decoration: none;
    color: $purple;
    &:hover {
      cursor: pointer;
    }
  }
  .close-icon-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .header-close-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}