.cookie-container {
  padding: 16px 0;
  .cookie-link {
    text-decoration: none;
    color: $pink;
    transition: color .5s;
    transition-delay: .2s;
    &:hover {
      cursor: pointer;
      color: $purple;
      transition: color .5s;
      transition-delay: .2s;
    }
  }
  .close-icon-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .header-close-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .cookie-container {
    .cookie-btn-container {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      .cookie-cta-container {
        display: flex;
        align-items: flex-end;
        height: 100%;
        .cookie-cta-btn {
          padding: 8px 24px;
        }
      }
    }
  }
}