
.circle-type-card-container {
  width: 100%;
  .circle-type-content-container {
    p {
      &:first-of-type {
        padding-bottom: 8px;
      }
    }
  }
  .circle-type-img-container {
    padding: 24px 0;
  }
}

@media only screen and (max-width: 992px) {
  .circle-type-card-container {
    padding-bottom: 36px;
  }
}