.error-container {
  padding: 224px 0 96px 0;
  background: #E6E9E9;
  height: 75vh;
  h2 {
    padding-bottom: 16px;
  }
  h3 {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .error-container {
    padding: 184px 0 56px 0;
  }
}