.four-oh-four-container {
  padding: 60px 0;
  h2 {
    padding-bottom: 16px;
  }
  p {
    a {
      color: $pink;
      font-weight: 700;
      transition: color .5s;
      transition-delay: .2s;
      &:hover {
        cursor: pointer;
        color: $gold;
        transition: color .5s;
        transition-delay: .2s;
      }
    }
  }
}