// Primary colors
$purple: #5C068C;
$blue: #055964;
$green: #B8D7C9;
$medium-green: #D4E7DF;
$light-green: #F1F7F4;
$pink: #A51890;
$light-pink: #FCDEE2;
$black: #000000;
$white: #FFFFFF;
$grey: #333333;
$medium-grey: #C1C1C1;
$light-grey: #F1F1F1;
$inactive-grey: #E5E5E5;

$teal: #6eceb2;
$salmon: #ee968a;
$red: #C70332;

// fonts
$mulish: 'Mulish', sans-serif;
$sans: 'Source Sans Pro', sans-serif;

// Other
$light-teal: #9ed8cf;

@import "../components/HomeContent/HomeContent.scss";
@import "../components/MyfembreeSupportProgramContent/MyfembreeSupportProgramContent.scss";
@import "../components/ResourcesContent/ResourcesContent.scss";
@import "../components/OnceDailyDosingContent/OnceDailyDosingContent.scss";
@import "../components/LibertyTrialsContent/LibertyTrialsContent.scss";
@import "../components/EfficacyDataContent/EfficacyDataContent.scss";
@import "../components/SafetyProfileContent/SafetyProfileContent.scss";
@import "../components/HowItWorksContent/HowItWorksContent.scss";
@import "../components/SiteMapContent/SiteMapContent.scss";
@import "./404.scss";

@import "../components/header/UtilityNav.scss";
@import "../components/header/Header.scss";
@import "../components/header/MainNav.scss";
@import "../components/NonUSPopUp/NonUSPopUp.scss";
@import "../components/SelectionNav/SelectionNav.scss";
@import "../components/exitramp/ExitRamp.scss";
@import "../components/isi/Isi.scss";
@import "../components/footer/Footer.scss";
@import "../components/Layout.scss";

@import "../components/Cookie/Cookie.scss";
@import "../components/HeaderHero/HeaderHero.scss";
@import "../components/RegisterCard/RegisterCard.scss";
@import "../components/RectangleCard/RectangleCard.scss";
@import "../components/HCPModal/HCPModal.scss";
@import "../components/HeaderDropdown/HeaderDropdown.scss";
@import "../components/SignUpForm/SignUpForm.scss";
@import "../components/ResourcesDownloadCard/ResourcesDownloadCard.scss";
@import "../components/PurpleCallout/PurpleCallout.scss";
@import "../components/SupportIconCard/SupportIconCard.scss";
@import "../components/ListIconCard/ListIconCard.scss";
@import "../components/PurpleLineCallout/PurpleLineCallout.scss";
@import "../components/PersonIconCard/PersonIconCard.scss";
@import "../components/ContentBTNCard/ContentBTNCard.scss";
@import "../components/SupportContentBlock/SupportContentBlock.scss";
@import "../components/SupportContentBlockLarge/SupportContentBlockLarge.scss";
@import "../components/IconCalloutCard/IconCalloutCard.scss";
@import "../components/PillBottleCallout/PillBottleCallout.scss";
@import "../components/SliderTabNav/SliderTabNav.scss";

html {
  // UI/UX use multiples of 8px
  // https://medium.com/code-better/css-units-for-font-size-px-em-rem-79f7e592bb97
  // Since browser default is 16px, the following will set the root font size to 8px
  // It should be set this way to avoid the issues mentioned with setting font sizes
  // and spacing (margin/padding)
  font-size: 50%;
  scroll-behavior: smooth;
}

body {
  font-family: $mulish;
  font-size: 2rem;
  color: #333333;
  &.scroll-none {
    overflow: hidden;
  }
  &.isi-expanded {
    overflow: hidden;
  }
  &.modal-hidden {
    overflow: hidden;
  }
  &.exit-ramp-opened {
    overflow: hidden;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    outline: none;
  }
}

h1 {
  font-family: $mulish;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #333333;
  margin: 0;
  @media screen and (max-width: 991px) {
    font-size: 24px;
    line-height: 30px;
  }
}

h2 {
  font-family: $mulish;
  font-style: normal;
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: #333333;
  margin: 0;
  @media screen and (max-width: 991px) {
    font-size: 22px;
    line-height: 28px;
  }
}

h3 {
  font-family: $mulish;
  font-style: normal;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #333333;
  margin: 0;
  @media screen and (max-width: 991px) {
    font-size: 20px;
    line-height: 25px;
  }
}

h4 {
  font-family: $sans;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

h5 {
  font-family: $sans;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

h6 {
  font-family: $sans;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

p {
  font-family: $sans;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.normal-weight {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

.extra-bold {
  font-weight: 700;
}

.purple {
  color: $purple;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.medium-green {
  color: $medium-green;
}

.light-green {
  color: $light-green;
}

.pink {
  color: $pink;
}

.light-pink {
  color: $light-pink;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.grey {
  color: $grey;
}

.medium-grey {
  color: $medium-grey;
}

.light-grey {
  color: $light-grey;
}

.inactive-grey {
  color: $inactive-grey;
}

.gradient-title {
  background: -webkit-linear-gradient(0deg,#A51890, #5C068C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  sup {
    background: -webkit-linear-gradient(45deg,#AE0ACF, #5C068C);
    // background: #5C068C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.mulish {
  font-family: $mulish;
}

sup {
  font-size: 50%;
  top: -0.79em;
}

sub {
  vertical-align: baseline;
  position: relative;
  top: 0em;
}

.cta-btn-container {
  // margin: 24px 0;
}

.drive-to-container {
  position: absolute;
  height: 0px;
  margin-top: -150px;
}

.cta-btn {
  color: $white;
  border: 1px solid $white;
  padding: 8px 0px;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: fit-content;
  text-align: center;
  border-radius: 6px;
  font-family: $mulish;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: all .7s;
  transition-delay: .1s;
  outline: none!important;
  &:hover {
    cursor: pointer;
    transition: all .7s;
    transition-delay: .1s;
    outline: none;
  }
  &:visited {
    text-decoration: none;
    outline: none;
  }
}

.transparent-btn {
  background: transparent;
  &:hover {
    background: $white;
    color: #A51890;
  }
}

.transparent-btn-pink {
  background: transparent;
  border: 1px solid #A51890;
  color: #A51890;
  &:hover {
    background: #A51890;
    color: $white;
  }
}

.pink-btn {
  background: #A51890;
  border: 1px solid #A51890;
  &:hover {
    color: #A51890;
    background: #FFFFFF;
    border: 1px solid #A51890;
  }
}

.white-btn {
  background: $white;
  color: #A51890;
  &:hover {
    color: $white;
    background: #A51890;
    border: 1px solid #A51890;
  }
}

.white-btn-hover-clear {
  background: $white;
  color: #A51890;
  &:hover {
    color: $white;
    background: transparent;
    border: 1px solid #FFFFFF;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 81, 118, 0.7);
  z-index: 9999;

  .container {
    position: relative;
    top: 35%;
  }

  &.hidden {
    display: none;
  }
}

.purple-ul, .purple-ul-dashed, .purple-ul-square, .purple-ul-nike {
  padding: 4px 28px 4px 18px;
  margin: 0;
  list-style: none;
  li {
    font-family: $sans;
    padding-bottom: 4px;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  li::before {
    content: "\2022";
    color: $purple;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  @media screen and (max-width: 991px) {
    padding: 4px 15px 4px 18px;
  }
}

.sitemap-ul {
  padding-top: 16px;
  li {
    padding-bottom: 16px;
  }
}

.purple-ul-dashed {
  li::before {
    content: "-";
    color: $purple;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .purple-ul {
    li::before {
      content: "\2022";
      color: $purple;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.purple-ul-dashed {
  li::before {
    content: "-";
    color: $purple;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  .purple-ul-square {
    li::before {
      content: "■";
      color: $purple;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.purple-ul-nike {
  list-style-image: url('../assets/images/list-nike-icon.svg');
  padding-top: 8px;
  li::before {
    content: none;
  }
}

.less-right-padding {
  padding-right: 0;
}

.black-box-ul {
  padding: 4px 28px 4px 18px;
  margin: 0;
  list-style: none;
  li {
    font-family: $sans;
    padding-bottom: 4px;
    font-weight: 700;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  li::before {
    content: "\2022";
    color: $black;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  @media screen and (max-width: 991px) {
    padding: 4px 15px 4px 18px;
  }
}