// Primary colors
$teal: #6eceb2;
$blue: #43859b;
$salmon: #ee968a;

// Other
$light-teal: #9ed8cf;

@import '../components/header/UtilityNav.scss';
@import '../components/header/Header.scss';
@import '../components/header/Indication.scss';
@import '../components/header/MainNav.scss';
@import '../components/footer/Footer.scss';
@import '../components/Layout.scss';

html {
  // UI/UX use multiples of 8px
  // https://medium.com/code-better/css-units-for-font-size-px-em-rem-79f7e592bb97
  // Since browser default is 16px, the following will set the root font size to 8px
  // It should be set this way to avoid the issues mentioned with setting font sizes
  // and spacing (margin/padding)
  font-size: 50%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem; 
}

a {
  &:hover {
    text-decoration: none;
  }
}

h5 {
  color: $blue;
  font-size: 16px;	
  font-weight: 600;	
  line-height: 19px;
  text-transform: uppercase;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  ul {
    display: inline-block;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    li {
      a {
        // Primary color
        color: $teal;
        &:hover {
          text-decoration: none;
          // Secondary color
          color: $blue;
        }
      }
      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }
  }
  &.right {
    justify-content: flex-end;
  }
  &.text-white {
    ul {
      li {
        a {
          color: white;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}