
.demographic-card-container {
  height: 170px;
  padding-bottom: 24px;
  transform: translateY(20%);
  opacity: 0;
  transition: transform, opacity;
  transition-duration: .3s, .3s;
  &.active-card {
    margin: 0;
    transform: translateY(0);
    opacity: 1;
    transition: transform, opacity;
    transition-delay: .7s, .7s;
    transition-duration: .7s, .7s;
    transform-origin: bottom;
  }
  .row {
    height: 100%;
    .demographic-left-card-col {
      padding: 0 8px;
      .demographic-left-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: #997F8A;
      }
    }
    .demographic-right-card-container {
      padding: 0 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      background: #E6E9E9;
      h3 {
        font-weight: 600;
      }
      h4 {
        padding-top: 8px;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .demographic-card-container {
    height: fit-content;
    .row {
      .demographic-left-card-col {
        padding: 0 15px;
        .demographic-left-card-container {
          padding: 16px;
          height: fit-content;
        }
      }
      .demographic-right-card-container {
        padding: 32px 16px;
        margin-top: 8px;
        height: fit-content;
        h4 {
          padding-top: 8px;
        }
      }
    }
  }
}