.indication {
  .indication-col {
    display: flex;
    justify-content: space-between;
    section {
      padding: 1rem 0;
    }
  }
  .indication-close-col {
    display: flex;
    justify-content: flex-end;
    section {
      padding: 1rem 0 1rem 1rem;
      display: inline-block;
      cursor: pointer;
      svg {
        color: $salmon
      }
      &:hover {
        svg {
          color: $blue;
        }
      }
    }
  }
  p {
    margin: 0;
    font-size: 14px;	
    line-height: 24px;
    position: relative;
    a {
      position: absolute;
      bottom: 0;
      color: $salmon;
      margin-left: 1rem;
      svg {
        position: relative;
        top: 5px;
      }
      &:hover {
        color: $blue;
      }
    }
  }
}