.main-nav {
  padding: 16px 0;
  background: $white;
  .header-logo {
    height: 94px;
  }
  .header-call-now-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-cta-btn-container {
      width: 100%;
    }
  }
  .nav-container {
    justify-content: flex-start;
    ul {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        margin-left: -14px;
      }
      li {
        margin-right: 0px;
        text-align: center;
        transition: 0.2s color;
        width: 100%;
        font-family: $mulish;
        &:hover {
          color: $red;
          transition: 0.2s color;
        }
        .header-discussion-container {
          display: flex;
          &:hover {
            font-weight: normal;
          }
          .header-discussion-icon {
            height: 51px;
            margin-right: 8px;
            @media all and (-ms-high-contrast: none),
              (-ms-high-contrast: active) {
              height: 50px;
              width: 60px;
            }
          }
        }
      }
      li:not(:last-of-type) {
        margin-right: 34px;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        li:not(:last-of-type) {
          margin-right: 38px;
        }
        .ie-margin {
          margin-left: -30px;
          margin-right: 30px;
        }
      }
      @media only screen and (max-width: 1200px) and (min-width: 769px) {
        li:not(:last-of-type) {
          margin-right: 22px;
        }
        li {
          a {
            font-size: 14px;
          }
          .header-discussion-container {
            .header-discussion-icon {
              height: 44px;
            }
          }
        }
      }
    }
  }
  .active-header {
    width: 100%;
    height: 4px;
    background: $red;
    transition: 1s all;
    position: absolute;
    top: 70px;
  }
}

.mobile-nav {
  display: none;
}

.navbar-toggle {
  display: none;
}

@media only screen and (max-width: 992px) {
  .main-nav {
    padding: 8px 0;
    background-color: #ffffff;
  }

  .mobile-nav {
    margin-top: 11px;
    max-height: 100vh;
    &.opened {
      display: block;
      background-color: $white;
      width: 100%;
      transition: 0.2s ease;
    }
  }

  .mobile-nav-overlay {
    background-color: $white;
    background-size: cover;
    height: 100vh;
    z-index: 9999;
    position: relative;
  }

  .mobile-nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;

    li {
      width: 100%;
      padding: 0 15px;
      transition: 0.2s all;

      &:hover {
        color: $red;
        transition: 0.2s color;
      }

      &:first-child {
        margin-top: 15px;
      }

      a {
        color: $black;
        display: block;
        padding: 10px 0;
        text-decoration: none;
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  .mobile-utility-links {
    border-top: 1px solid #ffffff;
    padding: 8px 0 0 0;
    list-style: none;

    li {
      padding: 0 15px;
      font-weight: 600;
      a {
        color: #ffffff;
        display: block;
        padding: 8px 0;
        font-size: 14px;
        transition: 0.2s all;
        &:hover {
          text-decoration: none;
          color: $red;
          transition: 0.2s color;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .mobile-nav-col {
      padding-left: 0px;
      .header-discussion-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-top: 2px solid #eaeaea;
        border-bottom: 2px solid #eaeaea;
        padding: 24px 0;
        .header-discussion-icon {
          padding-left: 8px;
        }
      }
      .header-providers-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .header-providers-icon {
          padding-left: 8px;
        }
      }
    }
  }

  .navbar-header {
    display: flex;
    justify-content: space-between;
    // .header-logo {
    //   width: 100%;
    // }
  }

  .navbar-toggle {
    display: block;
    position: relative;
    margin: 0;
    height: 43px;
    width: 42px;
    overflow: hidden;
    align-self: center;
    background-color: transparent;
    border: 0;

    &:active {
      .icon-bar {
        background: $red;
      }
      &:after {
        color: $red;
      }
      &.active {
        &:after {
          color: $red;
        }
      }
    }

    &.active {
      width: 45px;
      .icon-bar {
        width: 35px;
      }
      .icon-bar:nth-child(2) {
        transform: rotate(45deg);
        top: 0px;
      }

      .icon-bar:nth-child(3) {
        transform: translateX(-50px);
      }

      .icon-bar:nth-child(4) {
        transform: rotate(-45deg);
        top: 23px;
      }

      &:after {
        content: "CLOSE";
        position: absolute;
        right: 2px;
        bottom: 0;
        margin-top: 3px;
        color: $red;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
      }
    }

    &:after {
      content: "MENU";
      position: absolute;
      right: 2px;
      bottom: 0;
      margin-top: 3px;
      color: $red;
      font-size: 12px;
      font-weight: 700;
      line-height: normal;
    }

    &:focus {
      outline: none;
    }

    .icon-bar {
      margin: 0;
      display: block;
      background: $red;
      width: 42px;
      height: 2px;
      border-radius: 2px;
      position: absolute;
      right: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: transform 300ms ease;
      -moz-transition: transform 300ms ease;
      -ms-transition: transform 300ms ease;
      -o-transition: transform 300ms ease;
      transition: transform 300ms ease;
      -webkit-transform-origin: 1px;
      -moz-transform-origin: 1px;
      -o-transform-origin: 1px;
      transform-origin: 1px;
    }

    .icon-bar:nth-child(2) {
      top: 1px;
    }

    .icon-bar:nth-child(3) {
      top: 10px;
    }

    .icon-bar:nth-child(4) {
      top: 19px;
    }
  }
}
