.main-nav {
  padding: 24px 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(62, 64, 76, 0) 100%);
  z-index: 100;
  position: fixed;
  width: 100%;
  transition: all 1.2s;
  transition-delay: .2s;
  &.dark-nav {
    background: $dark-grey;
    transition: all 1.2s;
    transition-delay: .2s;
  }
  .header-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      position: relative;
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 0 0 16px 0;
      margin: 8px 0 0 0;
      border-bottom: 1px solid #FFFFFF;
      list-style: none;
      li {
        color: $white;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.01em;
        width: 100%;
        transition: color .5s;
        transition-delay: .2s;
        &:hover {
          cursor: pointer;
          color: $gold;
          transition: color .5s;
          transition-delay: .2s;
        }
        a {
          color: $white;
          font-weight: 600;
          transition: color .5s;
          transition-delay: .2s;
          &:hover {
            cursor: pointer;
            color: $gold;
            transition: color .5s;
            transition-delay: .2s;
          }
        }
      }
      .active-link {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        background: #E3FF39;
        height: 4px;
        cursor: pointer;
        transition: all .5s;
        transition-delay: .1s;
        &.home {
          left: 0;
          transition: all .5s;
          transition-delay: .1s;
        }
        &.about {
          left: 50%;
          transition: all .5s;
          transition-delay: .1s;
        }
      }
      .active-link-hovered {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        cursor: pointer;
        transition: all .5s;
        transition-delay: .1s;
        &.home {
          left: 0;
          background: #E3FF39;
          height: 4px;
          width: 50%;
          transition: all .5s;
          transition-delay: .1s;
        }
        &.about {
          left: 50%;
          background: #E3FF39;
          height: 4px;
          width: 50%;
          transition: all .5s;
          transition-delay: .1s;
        }
      }
    }
  }
  .secondary-nav {
    padding-top: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &.none {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          width: fit-content;
          font-size: 14px;
          line-height: 16px;
          color: $white;
          text-align: center;
          border-bottom: 1px solid transparent;
          transition: all .5s;
          transition-delay: .2s;
          &:first-of-type {
            margin-right: 40px;
          }
        }
        &:hover {
          a {
            cursor: pointer;
            color: $gold;
            border-bottom: 1px solid $gold;
            transition: all .5s;
            transition-delay: .2s;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .header-section-mobile {
    padding: 16px 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(62, 64, 76, 0) 100%);
    z-index: 100;
    position: fixed;
    width: 100%;
    transition: all 1.2s;
    transition-delay: .2s;
    &.dark-nav {
      background: linear-gradient(180deg, #17181C 0%, #3E404C 39.06%);
      transition: all 1.2s;
      transition-delay: .2s;
    }
    .header-logo-container {
      img {
        width: 86%;
        height: auto;
      }
    }
    .mobile-navbar-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      .navbar-toggle {
        display: block;
        position: relative;
        margin: 0;
        height: 43px;
        width: 42px;
        overflow: hidden;
        align-self: center;
        background-color: transparent;
        border: 0;
    
        &:active {
          .icon-bar {
            background: $pink;
          }
          &:after {
            color: $pink;
          }
          &.active {
            &:after {
              color: $pink;
            }
          }
        }
    
        &.active {
          width: 50px;
          .icon-bar {
            width: 45px;
          }
          .icon-bar:nth-child(2) {
            transform: rotate(45deg);
            top: 10px;
          }
    
          .icon-bar:nth-child(3) {
            transform: translateX(-50px);
          }
    
          .icon-bar:nth-child(4) {
            transform: rotate(-45deg);
            top: 40px;
          }
        }
    
        &:focus {
          outline: none;
        }
    
        .icon-bar {
          margin: 0;
          display: block;
          background: $pink;
          width: 42px;
          height: 2px;
          border-radius: 2px;
          position: absolute;
          right: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: transform 300ms ease;
          -moz-transition: transform 300ms ease;
          -ms-transition: transform 300ms ease;
          -o-transition: transform 300ms ease;
          transition: transform 300ms ease;
          -webkit-transform-origin: 1px;
          -moz-transform-origin: 1px;
          -o-transform-origin: 1px;
          transform-origin: 1px;
        }
    
        .icon-bar:nth-child(2) {
          top: 8px;
        }
    
        .icon-bar:nth-child(3) {
          top: 22px;
        }
    
        .icon-bar:nth-child(4) {
          top: 36px;
        }
      }
    }
    .header-nav-container-mobile {
      margin: 24px 0 40px 0;
      .header-nav-list {
        border-left: 1px solid $white;
        list-style: none;
        padding: 0;
        margin: 0;
        height: auto;
        transform: scaleY(1);
        transition: transform .7s;
        transition-delay: .1s;
        transform-origin: top;
        .home-page-list-items {
          border: none;
          padding: 0 16px 12px 16px;
          &.active-list {
            border-left: 4px solid $gold;
          }
        }
        .about-page-list-items {
          border: none;
          padding: 12px 16px 0 16px;
          &.active-list {
            border-left: 4px solid $gold;
          }
        }
        li {
          width: 100%;
          text-align: center;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.01em;
          padding: 24px 0 0 0;
          a {
            color: $white;
          }
          &.mobile-page-nav-item {
            background: rgba(255, 255, 255, 0.1);
            font-size: 18px;
            line-height: 24px;
            padding: 8px 0;
            // &:last-of-type {
            //   margin-top: 24px;
            // }
            a {

            }
          }
        }
        .mobile-nav-lower-list {
          border-left: 4px solid $gold;
        }
      }
      &.hidden-dropdown {
        margin: 0;
        .header-nav-list {
          height: 0;
          transform: scaleY(0);
          transition: transform 0.4s;
        }
      }
    }
  }















  // .main-nav {
  //   padding: 8px 0;
  //   background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(62, 64, 76, 0) 100%);
  // }

  // .mobile-nav {
  //   margin-top: 0px;
  //   max-height: 100vh;
  //   &.opened {
  //     display: block;
  //     background-color: $white;
  //     width: 100%;
  //     transition: 0.2s ease;
  //   }
  // }

  // .mobile-nav-overlay {
  //   background: rgba(131, 83, 83, 0.9);
  //   backdrop-filter: blur(8px);
  //   -webkit-backdrop-filter: blur(8px);
  //   background-size: cover;
  //   height: 100vh;
  //   width: 100vw;
  //   z-index: 999;
  //   position: absolute;
  //   top: 70%;
  //   overflow: hidden;
  // }

  // .mobile-nav-list-container {
  //   .mobile-nav-links {
  //     display: flex;
  //     align-items: center;
  //     flex-direction: column;
  //     width: 100%;
  //     list-style: none;
  //     padding: 0 0 0 32px;
  //     height: fit-content;
  //     li {
  //       font-family: $barlow;
  //       font-weight: 700;
  //       color: $gold;
  //       display: flex;
  //       justify-content: space-between;
  //       align-items: center;
  //       padding: 8px 0;
  //       width: 100%;
  //       padding: 0 16px 0 0;
  //       transition: 0.2s all;
  //       color: $pink;
  //       &:hover {
  //         color: $pink;
  //         transition: 0.2s color;
  //       }
  //       a {
  //         color: $pink;
  //         display: block;
  //         padding: 8px 0;
  //         text-decoration: none;
  //         font-size: 16px;
  //         line-height: 20px;
  //         font-weight: 700;
  //       }
  //     }
  //   }
  // }

  // .mobile-nav-col {
  //   padding: 0px 15px 0 0;
  //   border-top: 1px solid #DFE3DF;
  //   z-index: 10;
  //   transition: 1s all;
  //   .mobile-nav-list-container {
  //     padding: 16px 0;
  //     background: $white;
  //     border-left: 5px solid $pink;
  //     height: 20.2em;
  //     transition: 1s all;
  //     .header-dropdown-ul {
  //       list-style: none;
  //       padding: 0 16px 0 16px;
  //       margin: 0;
  //       height: auto;
  //       transform: scaleY(1);
  //       transition: transform .7s;
  //       transition-delay: .1s;
  //       transform-origin: top;
  //       li {
  //         &:last-of-type {
  //           padding-bottom: 0;
  //         }
  //         a {
  //           font-weight: 700;
  //           color: $pink;
  //           transition: color .5s;
  //           transition-delay: .2s;
  //           &:hover {
  //             cursor: pointer;
  //             color: $gold;
  //             transition: color .5s;
  //             transition-delay: .2s;
  //           }
  //         }
  //       }
  //       &.hidden {
  //         height: 0;
  //         transform: scaleY(0);
  //         transition: transform 0.4s;
  //       }
  //     }
  //     &.hidden {
  //       height: 60px;
  //       transition: 1s all;
  //     }
  //   }
  // }
  .scroll-none {
    overflow: hidden;
  }
}
