.utility-nav {
  // in Sketch, it's a gradient, but I'll use a solid color for now
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9ed8cf+0,6eceb2+100 */
  // background: #9ed8cf; /* Old browsers */
  // background: -moz-linear-gradient(left, #9ed8cf 0%, #6eceb2 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left, #9ed8cf 0%,#6eceb2 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to right, #9ed8cf 0%,#6eceb2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ed8cf', endColorstr='#6eceb2',GradientType=1 ); /* IE6-9 */
  background-color: $teal;
  padding: 2rem 0;

  // uses global nav styling in index
  li {
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
}
