.utility-nav {
  background-color: rgba(79, 113, 143, 0.1);
  // padding: 8px 0;
  p {
    font-size: 12px;
  }
  li {
    color: $black;
    cursor: pointer;
    font-size: 12px;
    &:hover {
      color: $teal;
    }
    &:visited {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
  .utility-header-nav {
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 34px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $sans;
  }
  .utility-nav-end-container {
    background: #E4E4E4;
    text-align: center;
    font-family: $sans;
  }
  .utility-nav-end-container li {
    margin: 0 0 0 34px;
  }
}

@media screen and (max-width: 991px)  {
  .mobile-intended-container {
    background: $white;
    p {
      font-size: 12px;
    }
  }
  .utility-nav {
    background-color: rgba(79, 113, 143, 0.1);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right {
      justify-content: space-between;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        color: $black;
        cursor: pointer;
        font-size: 12px;
        line-height: 24px;
        margin: 0px;
        width: 50%;
        &:hover {
          color: $black;
        }
        a {
          &:visited {
            text-decoration: none;
            color: $black;
          }
          &:active {
            text-decoration: none;
          }
        }
      }
    }
  }
}