.sitemap-container {
  background: linear-gradient(292.73deg, #B8D7C9 6.91%, #A51890 40.02%, #790D8E 66.85%, #5C068C 87.39%);
  padding: 60px 0;
}

.sitemap-list-container {
  padding: 44px 0 20px 0;
  a {
    color: $pink;
    font-weight: 700;
    transition: color .5s;
    transition-delay: .2s;
    &:hover {
      cursor: pointer;
      color: $gold;
      transition: color .5s;
      transition-delay: .2s;
    }
  }
}

@media screen and (max-width: 992px) {
  .sitemap-container {
    padding: 40px 0;
  }
  .sitemap-list-container {
    padding: 32px 0 0 0;
  }
}