.content-btn-card-container {
  padding: 40px 0;
  background: #F1F7F4;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content-btn-card-btn-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-btn-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .content-btn-card-container {
    padding: 32px;
    .content-btn-card-btn-container {
      margin-top: 16px;
    }
  }
}