.layout {
  // The lines below stretch out the body if there isn't enough content
  // TODO: Remove lines below when body content has been inserted
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  .main {
    flex: 1;
  }
  .back-to-top-container {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 80%;
    &:hover {
      cursor: pointer;
    }
  }
  // TODO: Remove lines above when body content has been inserted
}