
.circle-animation-img-container {
  svg {
    max-width: 100%;
    height: auto;
  }
  .full-circle-line {
    stroke: #997F8A;
    stroke-dasharray: 820;
    stroke-dashoffset: 820;
    animation-name: draw1;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    @keyframes draw1 {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
  .yellow-line {
    stroke-dasharray: 820;
    stroke-dashoffset: 820;
    animation-name: draw2;
    stroke: #E3FF39;
    animation-delay: 2.2s;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    @keyframes draw2 {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
  &.less-animation-delay {
    .yellow-line {
      animation-delay: 1s;
    }
  }
}

@media screen and (max-width: 992px) {
  .circle-animation-img-container {
    &.less-animation-delay-mobile {
      .yellow-line {
        animation-delay: 1.8s;
      }
    }
  }
}