
.risk-icon-card-container {
  width: 100%;
  transform: translateY(20%);
  opacity: 0;
  transition: transform, opacity;
  transition-duration: .3s, .3s;
  &.active-card {
    margin: 0;
    transform: translateY(0);
    opacity: 1;
    transition: transform, opacity;
    transition-delay: .7s, .7s;
    transition-duration: .7s, .7s;
    transform-origin: bottom;
  }
  &.animation-start-2 {
    transition-delay: 1.2s, 1.2s;
  }
  &.animation-start-3 {
    transition-delay: 1.7s, 1.7s;
  }
  &.extra-card-padding {
    padding: 0 30px 0 60px;
  }
  .risk-icon-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      padding: 24px 0 16px 0;
    }
  }
  .risk-icon-ul {
    li {
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 992px) {
  .risk-icon-card-container {
    &.extra-card-padding {
      padding: 0px;
    }
    .risk-icon-ul {
      padding-bottom: 40px;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .risk-icon-card-container {
    &.extra-card-padding {
      padding: 0 20px;
    }
  }
}