footer {
  background: #3E404C;
  padding: 96px 0;
  .footer-nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 0.5px solid #D8D6E3;
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 25%;
      img {
        margin-right: 8px;
      }
      h6 {
        transition: color .5s;
        transition-delay: .2s;
      }
      &:hover {
        cursor: pointer;
        h6 {
          color: $gold;
          transition: color .5s;
          transition-delay: .2s;
        }
      }
    }
  }
  .footer-text-container {
    padding-top: 16px;
  }
  .footer-logo-container {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 992px) {
  footer {

  }
}