footer {
  background: #F1F7F4;
  padding: 60px 0;
  .footer-nav-container {
    height: fit-content;
    width: 100%;
    padding: 16px 0 32px 0;
    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      li {
        a {
          color: $pink;
          transition: color .5s;
          transition-delay: .2s;
          font-family: $sans;
          &:hover {
            cursor: pointer;
            color: $purple;
            transition: color .5s;
            transition-delay: .2s;
          }
        }
      }
    }
  }
  .footer-text {
    padding-bottom: 16px;
  }
  .footer-logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    .footer-logo {
      &:hover {
        cursor: pointer;
      }
    }
    .footer-logo-left {
      margin-left: 16px;
    }
  }
}

@media only screen and (max-width: 992px) {
  footer {
    padding: 40px 0;
    .footer-top-title {
      text-align: center;
    }
    .footer-nav-container {
      padding: 24px 0;
      ul {
        display: inline;
        li {
          width: 100%;
          padding-bottom: 24px;
          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
    .footer-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 24px;
      .footer-logo-left {
        margin-left: 16px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  footer {
    .footer-logo-container {
      padding-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      .footer-logo {
        width: 90%;
      }
      .footer-logo-left {
        margin-left: 16px;
      }
    }
  }
}