.home-container {
  background-image: url('../assets/images/home-bg-img.webp');
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative;
  .top-title {
    letter-spacing: 0.5em;
    font-weight: 400;
    background: linear-gradient(90deg, rgba(175,212,196,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .home-sub-title {
    padding: 16px 0 24px 0;
  }
  .home-lower-title {
    font-size: 20px;
    font-weight: 25px;
    font-family: $mulish;
  }
  .home-page-footnote {
    padding-top: 40px;
  }
  .home-card-lower-content {
    padding-top: 24px;
    .call-now-link {
      color: $white;
      transition: all .5s;
      transition-delay: .2s;
      &:hover {
        color: $light-pink;
        transition: all .5s;
        transition-delay: .2s;
      }
    }
  }
}

.home-callout-container {
  background: #F1F7F4;
  padding: 60px 0;
}

.home-card-container {
  padding: 60px 0;
}

@media screen and (max-width: 992px) {
  .home-container {
    background-image: url('../assets/images/home-bg-img-mobile.webp');
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    .home-title {
      padding: 0 40px 0 0;
    }
    .home-sub-title {
      padding: 8px 0;
    }
    .home-bottom-text {
      padding-top: 24px;
    }
  }
  .home-callout-container {
    padding: 40px 0;
  }
  .home-card-container {
    padding: 40px 0 8px 0;
  }
}