.home-container {
  background-image: url('../assets/images/home-bg-img.webp');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 0 180px 0;
  margin-bottom: 88px;
  position: relative;
  h1 {
    padding-top: 32px;
  }
  .home-sub-title {
    padding: 16px 0;
  }
}

.home-callout-container {
  position: relative;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 992px) {
  .home-container {
    background-image: url('../assets/images/home-bg-img-mobile.webp');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px 0 300px 0;
    h1 {
      padding: 0 40px 0 0;
    }
    p {
      padding: 0 40px 0 0;
    }
  }
}