.home-container {
  background-image: url('../assets/images/home-bg-img.webp');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 0 180px 0;
  margin-bottom: 88px;
  position: relative;
  .home-title {
    letter-spacing: 0.5em;
    font-feature-settings: 'liga' off, 'kern' off;
    color: #E3EFE9;
  }
  h1 {
    padding-top: 24px;
  }
  .home-sub-title {
    padding: 16px 0;
  }
}

.home-callout-container {
  position: relative;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 991px) {
  .home-container {
    background-image: url('../assets/images/home-bg-img-mobile.webp');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 88px 0;
  }
}