.efficacy-data-container {
  padding: 16px 0 0 0;
  .tab-arrow-container {
    transition: all .7s;
    transition-delay: .1s;
    position: relative;
    top: 200px;
    &.arrow-right-container {
      display: flex;
      justify-content: flex-end;
    }
    &:hover {
      cursor: pointer;
    }
    .purple-arrow {
      path {
        fill: $purple;
        transition: all .7s;
        transition-delay: .1s;
      }
    }
    .grey-arrow {
      path {
        fill: $inactive-grey;
        transition: all .7s;
        transition-delay: .1s;
      }
    }
    .pink-arrow {
      path {
        fill: $pink;
        transition: all .7s;
        transition-delay: .1s;
      }
    }
  }
}
.efficacy-footnote-container {
  padding: 16px 0 0px 0;
}

@media screen and (max-width: 992px) {
  .efficacy-data-container {
    padding: 8px 0 0 0;
  }
}