.support-content-block-large-container {
  padding: 60px 0;
  border-bottom: 2px solid #5C068C;
  background: #F1F7F4;
  h2 {
    padding-bottom: 24px;
  }
  .support-block-large-img-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .support-content-block-subtitle {
    padding: 24px 0 8px 0;
  }
  .support-block-enroll-card-container {
    padding: 24px 0;
    background: #FFFFFF;
    border: 1px solid $purple;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 40px 0 16px 0;
    h3 {
      padding-bottom: 8px;
    }
  }
}

@media screen and (max-width: 992px) {
  .support-content-block-large-container {
    padding: 40px 0;
    .support-block-large-img-container {
      margin-bottom: 16px;
    }
    .support-block-enroll-card-container {
      margin: 16px 0 0px 0;
      padding: 24px;
    }
  }
}