.support-content-block-large-container {
  padding: 60px 0;
  border-bottom: 2px solid #5C068C;
  background: #F1F7F4;
  h2 {
    padding-bottom: 24px;
  }
  .support-block-large-img-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .support-content-block-subtitle {
    padding: 24px 0 8px 0;
  }
}