.rectangle-card-container {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 32px;
  height: fit-content;
  flex-direction: column;
  display: flex;
  .title-container {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    img {
      padding-right: 8px;
    }
  }
  .rectangle-card-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-top: 16px;
  }
}

@media screen and (max-width: 992px) {
  .rectangle-card-container {
    min-height: 0px;
    height: fit-content;
    margin-bottom: 24px;
    .rectangle-card-btn-container {
      width: 100%;
      padding-top: 16px;
    }
  }
}