.rectangle-card-container {
  display: flex;
  flex-direction: column;
  .icon-container {
    img {
      width: 100%;
    }
  }
  .title-container {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
  }
  .rectangle-card-btn-container {
    padding-top: 16px;
  }
}

@media screen and (max-width: 992px) {
  .rectangle-card-container {
    min-height: 0px;
    height: fit-content;
    margin-bottom: 24px;
    .rectangle-card-btn-container {
      width: 100%;
      padding-top: 16px;
    }
  }
}