.amenorrhea-container {
  padding: 60px 0;
  h2 {
    padding: 8px 0 24px 0;
  }
  .amenorrhea-skinny-callout-container {
    background: #F1F7F4;
    padding: 8px;
  }
  .graph-container {
    padding: 0 0 24px 0;
  }
  .mid-section-container {
    padding: 36px 0 24px 0;
  }
}

@media screen and (max-width: 992px) {
  .amenorrhea-container {
    padding: 40px 0;
    h2 {
      padding: 8px 0 16px 0;
    }
    .mid-section-container {
      padding: 16px 0;
    }
  }
}