.next-page-btn-container {
  padding-top: 60px;
  a {
    button {
      .btn-content-container {
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          margin: 4px 4px 0 16px;
          .btn-arrow {
            fill: $white;
            transition: all .7s;
            transition-delay: .1s;
            &.active-arrow {
              fill: $pink;
              transition: all .7s;
              transition-delay: .1s;
            }
          }
        }
      }
    }
  }
}